body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#e0c2b8 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  position:relative;
  color:#fff;
  background-color: #5d709a;
  height: 57px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  padding-top:.5rem 1rem;
  padding-bottom:.5rem 1rem;
}

.navbar .container{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
}

.navbar-brand{
  display:inline-block;
  color:#fff;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem;
  line-height:inherit;
  text-decoration:none;
  white-space:nowrap
}

.btn{
  transition:none;
  text-decoration: none;
  border:none;
  display:block;
  border-radius: 10px;
  cursor: pointer;
  color:#ffffff; 
  padding: .3em 1em;
  margin-top: 22px
}

.btn-back{
  position: fixed;
  right: 20px;
  top: 80%;
  background-color: #96939e;  
  border-radius:60px;
  font-size: 40px;
  font-weight: 1000;
  padding-right: 17px;
  padding-left: 17px;
  padding-top:0;
  padding-bottom: 10px;
}

.btn-create{
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 80%;
  background-color: #96939e; 
  font-size: 40px;
  font-weight: 1000; 
  max-width: 20%;
  border-radius:60px;
  padding-right: 22px;
  padding-left: 22px;
  padding-top:0;
  padding-bottom: 10px;
}

.btn-register{
  text-decoration: none;
  color:#fff;
  margin-top:0
}

.btn-view-update{
  background-color: #5d709a; 
  font-size: 15px;
  font-weight: 300; 
}

.btn-delete{
  transition:none;
  text-decoration: none;
  border:none;
  display:block;
  margin-top: 0;
  background-color: #e01c1c; 
  font-size: 15px;
  font-weight: 800;  
  border-radius: 15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color:#ffffff;
  margin: 0.5em;
}

.btn-send{
  background-color: #96939e; 
  font-size: 20px;
  font-weight: 500;
  margin:0 auto;
}

.input-search{
  height: 1.5em;
  width: 100%;
  border-radius: 5px;
  border: none;
  display:block
}

.search-block{ 
  display:flex; 
  right: 8.3%;
  top: 15px;
  height: 22px;
  position: absolute;
  justify-content: left;
}

.container{
  width:100%;
  margin-right:auto;
  margin-left:auto
}

.alert{
  text-decoration: none;
  position:relative;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem;
  color:#0c5460;
  background-color:#d1ecf1;
  border-color:#bee5eb;
  text-align:center
}

.row{
  display:flex;      
  flex-direction: row;
  justify-content: space-between;
}

.col-md-4{
  flex:0 0 30%;
  max-width:30%
}

.col-todo:hover{  
  background-color:rgb(216, 162, 162);
  border-radius: 10px;
}

.col-inprogress:hover{  
  background-color:rgba(255, 216, 133, 0.795);
  border-radius: 10px;
}

.col-done:hover{  
  background-color:rgba(153, 255, 133, 0.712);
  border-radius: 10px;
}

.card{
  position:relative;
  display:flex;
  flex-direction:column;
  min-width:0;
  word-wrap:break-word;
  background-clip:border-box;
  border-radius:.25rem;
  text-align:center;
  margin-bottom:.5rem
}

.card-task{
  border:1px solid rgba(0,0,0,.125);
}

.card-task:hover::after{
  content: attr(data-title);
  position: absolute;
  left: 0%; top: 45px;
  z-index: 1;
  background: #5d709a3b;
  font-size: 11px;
  padding: 5px 10px;
  border:none;
  width:94%
}

.card-task-ur-im{
  background-color:#6a80b1;
}

.card-task-ur-unim{
  background-color:#7f99d1;
}

.card-task-notur-im{
  background-color:#95b2f1;
}

.card-task-notur-unim{
  background-color:#aac5ff;
}

.card-task-header{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  background-color: rgba(0,0,0,.03);
}

.card-header{
  padding:.75rem 1.25rem;
  margin-bottom:0;
  color:#fff;
}

.card-body{
  background-color:#fff;
  flex:1 1 auto;
  min-height:1px;
  padding:1.25rem
}

.card-title{
  margin-bottom:.75rem
}

.card-text{
  margin-bottom:0;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

.card-header:first-child{
  border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

/*.bg-secondary{
  color: #f36d52;
  border-bottom:5px solid #f36d52;
}

.bg-primary{
  color:#a6b574;
  border-bottom:5px solid #a6b574;
  
}

.bg-success{
  color:#5f5d2d;
  border-bottom:5px solid #5f5d2d;
}*/

.bg-light{
  background-color:#f8f9fa
}

.col-md-8{
  position:relative;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  -ms-flex:0 0 66.666667%;
  flex:0 0 66.666667%;
  max-width:66.666667%;
  margin:auto
}

.display-4{
  font-size:3.5rem;
  font-weight:300;
  line-height:1.2;
  text-align:center
}

.form-group{
  margin-bottom:1rem;
  display:flex;
  flex:0 0 auto;
  flex-flow:row wrap;
  align-items:center;
}

.form-login{
  width: 30%;
  margin-left: 35.45%
}

.form-control{
  display:block;
  width:100%;
  height:calc(1.5em + .75rem + 2px);
  padding:.375rem .75rem;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control-lg{
  padding-right:0;
  padding-left:0;
  height:calc(1.5em + 1rem + 2px);
  padding:.5rem 1rem;
  font-size:1.25rem;
  line-height:1.5;
  border-radius:.3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.is-invalid{
  border-color:#dc3545;
  padding-right:calc(1.5em + .75rem);
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat:no-repeat;
  background-position:right calc(.375em + .1875rem) center;
  background-size:calc(.75em + .375rem) calc(.75em + .375rem)
}

.invalid-feedback{
  width:100%;
  margin-top:.25rem;
  font-size:80%;
  color:#dc3545
}

@media (min-width:576px){
  .container{max-width:540px}
}
@media (min-width:768px){
  .container{max-width:720px}
}
@media (min-width:992px){
  .container{max-width:960px}
}
@media (min-width:1200px){
  .container{max-width:1140px}
}

.swing:hover {
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.04);
}


